---
whiskers:
  version: 2.0.0
---
<h3 align="center">
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png" width="100" alt="Logo"/><br/>
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
	Catppuccin for <a href="https://github.com/darkreader/darkreader">Dark Reader</a>
	<img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/misc/transparent.png" height="30" width="0px"/>
</h3>

<p align="center">
    <a href="https://github.com/catppuccin/dark-reader/stargazers"><img src="https://img.shields.io/github/stars/catppuccin/dark-reader?colorA=363a4f&colorB=b7bdf8&style=for-the-badge"></a>
    <a href="https://github.com/catppuccin/dark-reader/issues"><img src="https://img.shields.io/github/issues/catppuccin/dark-reader?colorA=363a4f&colorB=f5a97f&style=for-the-badge"></a>
    <a href="https://github.com/catppuccin/dark-reader/contributors"><img src="https://img.shields.io/github/contributors/catppuccin/dark-reader?colorA=363a4f&colorB=a6da95&style=for-the-badge"></a>
</p>


![DarkReader Theme Preview (Wikipedia)](assets/screenshot.png)


## Usage

> [!IMPORTANT]
> If you only want to use _Mocha_, Dark Reader includes **Catppuccin** by
> default, which is Mocha.

1. Open the Dark Reader.
2. Click on **Dev Tools** > **Advance** > **Preview new design** and close the window.
3. Now click on **See all options** > **Colors**.
4. Open your desired flavor in the table below. Copy and paste values into respective fields.
    - You will have to change the "Selection" setting from `Automatic` to `Custom`.

{% for id, flavor in flavors %}
<details>
{%- if id == "latte" %}
<summary>🌻 Latte</summary>
{%- elif id == "frappe" %}
<summary>🪴 Frappé</summary>
{%- elif id == "macchiato" %}
<summary>🌺 Macchiato</summary>
{%- else %}
<summary>🌿 Mocha</summary>
{%- endif %}
<table>
<tr>
<th>Setting</th>
<th>Color</th>
</tr>
<tr>
<td>Background</td>
<td>#{{ flavor.colors.base.hex }} </td>
</tr>
<tr>
<td>Text</td>
<td>#{{ flavor.colors.text.hex }} </td>
</tr>
<tr>
<td>Selection</td>
<td>#{{ flavor.colors.surface2.hex }} </td>
</tr>
</table>
</details>
{% endfor %}

5. Done! There is no apply or save button.

## 💝 Thanks to

- [Sanjay Pavan](https://github.com/WitherCubes)

&nbsp;

<p align="center"><img src="https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/footers/gray0_ctp_on_line.svg?sanitize=true" /></p>
<p align="center">Copyright &copy; 2021-present <a href="https://github.com/catppuccin" target="_blank">Catppuccin Org</a>
<p align="center"><a href="https://github.com/catppuccin/catppuccin/blob/main/LICENSE"><img src="https://img.shields.io/static/v1.svg?style=for-the-badge&label=License&message=MIT&logoColor=d9e0ee&colorA=363a4f&colorB=b7bdf8"/></a></p>
